[Unit]
Description=Wifi Access Point
After=network.target
BindsTo=sys-subsystem-net-devices-wlan0.device
Requires=udhcpd.service
Before=udhcpd.service

[Service]
ExecStartPre=/bin/rm -f /var/run/ifstate
ExecStartPre=/sbin/ifconfig wlan0 192.168.1.1 netmask 255.255.255.0 broadcast 192.168.0.255
ExecStartPre=/bin/sh -c '/usr/sbin/iptables-restore < /etc/iptables.ipv4.nat'
ExecStartPre=/bin/sh -c '/bin/echo 1 >/proc/sys/net/ipv4/ip_forward'
ExecStart=/usr/sbin/hostapd -P /var/run/hostapd.pid /etc/hostapd.conf
ExecStopPost=/bin/sh -c '/bin/echo 0 >/proc/sys/net/ipv4/ip_forward'
User=root

[Install]
WantedBy=multi-user.target
